/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/Filament/Resources
app/Filament/Pages/Kelahiran.php
app/Filament/Pages/LihatAnggotaKeluarga.php
app/Filament/Pages/PenerimaBantuan.php
app/Filament/Clusters
app/Policies/JenisBantuanPolicy.php
app/Policies/KepalaKeluargaPolicy.php
app/Policies/RTPolicy.php
app/Imports
app/Exports
resources/views/filament/clusters
resources/views/filament/pages
database/migrations/2024_07_18_113247_create_r_t_s_table.php
database/migrations/2024_07_18_113305_create_kepala_keluargas_table.php
database/migrations/2024_07_18_113317_create_anggota_keluargas_table.php
database/migrations/2024_07_18_113329_create_alamats_table.php
database/migrations/2024_08_05_032853_create_jenis_bantuans_table.php
database/migrations/2024_08_06_040913_create_bantuans_table.php
database/migrations/2024_08_10_140258_create_alamat_tinggals_table.php
database/migrations/2024_08_10_140923_create_batas_bidang_tanahs_table.php
database/migrations/2024_08_10_161810_create_nomors_table.php
database/migrations/2024_09_28_135625_create_kematians_table.php
app/Models/Alamat.php
app/Models/AlamatTinggal.php
app/Models/AnggotaKeluarga.php
app/Models/Bantuan.php
app/Models/BatasBidangTanah.php
app/Models/JenisBantuan.php
app/Models/Kematian.php
app/Models/KepalaKeluarga.php
app/Models/Nomor.php
app/Models/RT.php